.logo {
    display: flex;
    margin-bottom: 53px; 
    align-items: end;
}

.logoVersion {
    margin-left: 4px;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    color: #838383;
    transform: translateY(-5px)
}

.listContainer {
    margin: 0;
    padding: 0;
    list-style: none;
}

.linkWrapper {
    padding: 14px;
    display: flex;
    background-color: inherit;
    border-radius: 8px;
    color: inherit;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    transition: background-color .1s ease;

    &:hover {
        background-color: #f4f4f4;

        & .linkIcon {
            transform: scale(1.2);
        }

        & .chevron {
            animation: backAndFor 1s linear  infinite ;
        }
    }


    & .linkIcon {
        transform: scale(1);
        margin-right: 14px;
        transition: transform .3s ease;
    }

    & .chevron {
        margin-left: auto;
        align-self: center;
    }
}

@keyframes backAndFor {
    0% {transform: translatex(0px);}
    50% {transform: translatex(7px);}
    100% {transform: translatex(0px);}
}
  

.linkActive {
    background-color: #5932EA;
    color: #ffffff;
    &:hover {
        color: #ffffff;

        & .linkWrapper {
            background-color: #5932EA;
        }

        & .linkIcon {
            transform: scale(1)
        }
    }
}

.logout {
    all: unset;
    position: relative;
    margin-top: auto;
    display: flex;
    width: auto;
    padding-left: 14px;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        outline: none
    }
    &::before {
        content: '';
        position: absolute;
        top: -40px;
        display: block;
        width: 100%;
        left: 0;
        height: 1px;
        background-color: #c4c4c4;
        pointer-events: none;

    }
    & :first-child {
        margin-right: 14px;
    }
    & :nth-child(2) {
        color: black;
    }
}